.baseMVCView2Wide {
    /*background-color: blue;*/
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
